<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Paises App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">   
            <i class="fas fa-bars" style="color:#2a2c41; font-size:28px;"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pais"> Pais detalle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/banderas"> Banderas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Informacion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" routerLink="/informacion">Contacto</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>