<table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><h3>Nombre del pais</h3></th>
            <th scope="col"><h3>Moneda</h3></th>
            <th scope="col"><h3>Bandera</h3></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!--<th scope="row">1</th>-->
            <td><h4>{{nombre}}</h4> <br>
            <button class="btn btn-primary" (click)="emitDetalles()">Detalles</button></td>
            <td><h4>{{moneda}}</h4></td>
            <td><img src="{{bandera}}" alt="" style="width:260px;height:220;"></td>
        </tr>
        </tbody>
    </table>